#numpy
#pandas
#git+https://github.com/quiltdata/t4.git#subdirectory=api/python
#flask
#tensorflow-gpu==1.12
#keras==2.2.4
#matplotlib
#jupyter
#seaborn
tensorflow-gpu==1.14
keras==2.3.1
scikit-learn
awscli
#requests==2.20.0  # temp
sagemaker # temp
matplotlib
boto
